{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}
{% block styleSheets %}
    <link rel="stylesheet" href="{{ asset('assets/pages/formations_student.css') }}">
{% endblock %}

{% block navlist %}
    <li class="hd-li1"></li>
    <li class="hd-li right font-f1">
        <a class="key_ftdw" href="{{path('formation')}}">Formations</a>
    </li>
    <li class="hd-li left font-f1">
        <a class="key_ftdw" href="{{path('apply')}}">Postuler</a>             
    </li>
    <li class="hd-li right font-f1">
        <a class="key_ftdw" href="{{path('contact')}}">Contact</a>   
    </li>
    <li class="hd-li hd_home-li left font-f1 key_bg3">
        <a class="nav_a key_ftdw" href="{{path('subscribe')}}">S'incrire</a>           
    </li><hr>
    <li class="hd-li hd_home-li right font-f1 key_bg3">
        <a class="nav_a key_ftdw" href="{{path('login')}}">Connexion</a>              
    </li>
{% endblock %}

{% block main %}

    <section class="section_head">
        <div class="formation_headwrapper">
            <div class="formation_pagetitle">
                <h2 class="formation_h2 key_ftdw font-f1">Nos Formations</h2>
            </div>
            <form class="searchbar" action=""> 
            {# {{ path('search') }} #}
                <input class="input_searchtext" type="text" name="search">
                <button class="button_search" type="submit">
                    <img class="search_icon" src="{{ asset('assets/storage/icons/search.png') }}" 
                        alt="Une loupe de recherche"
                        title="Icon by MD Badsha Meah : https://freeicons.io/profile/3335">
                </button>
            </form>
        </div>
    </section>
    <section class="section_main">
        <div class="formation_globalwrapper">
            <a href=""></a>
            <div class="formation_container key_bg2">
                <a class="formation_a" href=""></a>
                <div class="formation_title">
                    <h3 class="formation_h3 key_ftdw font-f1">Titre de la Formation</h3>
                    <p class="key_ftdw font-f2">Phrase explicative de la formation</p>
                </div>
                <div class="instructor_imgbox">
                    <img class="instructor_img" src="" alt="photo de l'auteur de la formation">
                </div>
                <button class="preview_button" 
                        id="preview-btn" 
                        onclick="dropdownPreview()"
                        style="background-color: #57cc99">
                    <h4 class="preview_h4 key_ftdw font-f2">Aperçu</h4>
                </button>
            </div>
            <div class="preview_box key_bg1" id="preview_dropdown">
                <p class="preview_p key_ftdw font-f3">contenu aperçu de la formation</p>
            </div>
        </div>        
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/formations_visite.js') }}"></script>
{% endblock %}