<div class="ft-wrapper">
        <div class="ft-head">
            <div class="ft-hcontain">
                <a href="#"><img class="ft-logosite" src="{{ asset('assets/logo/ecoIt2.png') }}" alt="logo EcoIt"></a> 
            </div>
        </div>
        <div class="ft-main">
            <div class="ft-mcontain">
                <ul class="ft-mlistlogo">
                    <li><a href="#"><img class="ft-logo" src="{{ asset('assets/logo/facebookNoir.png') }}" alt="logo-Facebook"></a></li>
                    <li><a href="#"><img class="ft-logo" src="{{ asset('assets/logo/twitterNoir.png') }}" alt="logo-twitter"></a></li>
                    <li><a href="#"><img class="ft-logo" src="{{ asset('assets/logo/youtubeNoir.png') }}" alt="logo-youtube"></a></li>
                </ul>
            </div>
            <div class="ft-mcontain ft-mcontains">
                <ul class="ft-listtext">
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">Paramétrage des cookies</a></li>
                </ul>
            </div>
        </div>
        <div class="ft-legs">
            <img class="ft-imgcertification" src="{{ asset('assets/img/certification.png') }}" alt="Certification Qualité">
            <p class="ft-p">Certification Qualité</p>
        </div>
    </div>
    <div class="ft-footer light">
        <p class="ft-p2 ft-line">Copyright 2022</p>
        <p class="ft-p2">EcoIt  -  L'école écologique du web</p>
    </div>