<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/scss/header.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/scss/switch.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/scss/color.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/scss/txt.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/scss/image.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/scss/config.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/scss/footer.css') }}">
    <style type="text/css">
        @font-face {
        font-family: Oxygen;
        src: url({{asset('storage/fonts/Oxygen/Oxygen-Bold.ttf')}});
        }

        @font-face {
        font-family: Antic-Slab;
        src: url({{asset('storage/fonts/Antic_Slab/AnticSlab-Regular.ttf')}});
        }

        @font-face {
        font-family: Raleway;
        src: url({{asset('storage/fonts/Raleway/Raleway-Regular.ttf')}})
        }
    </style>
    {% block styleSheets %}{% endblock %}
</head>
<body class="light theme-light key_bgwd key_ftdw">
    
    <header class="key_bg1 z5">
        <div class="hd-head">
            <div class="hd-title">
                <h1 class="font-f1 key_ftdw">Eco-Tech Eco-Web</h1>
                <h2 class="font-f1 key_ftdw">Les solutions web-écologique</h2>
            </div>
            <div class="hd_logobox key_bg3">
               <a href="{{path('home')}}"><img class="hd_logo" src="{{ asset('assets/storage/logo/ecoIt2.png') }}" alt="logo-ecoIt"></a> 
            </div>
        </div>
        {% include "_modules/_switch.html.twig" %}
        <nav class="hd-navdropdown">
            <button onclick="dropdownMenu()" id="nav-btn" class="hd-navbtn key_bg2" style="background-color: #c7f9cc" />
                <div class="hd-iconNav headNav-icon1 key_bgdw"></div>
                <div class="hd-iconNav headNav-icon2 key_bgdw"></div>
                <div class="hd-iconNav headNav-icon3 key_bgdw"></div>
            </button>
            <ul id="dropdown" class="hd-dropdownContent">
                {% block navlist %}{% endblock %}
            </ul>
        </nav>
    </header>


    <main>
        {% block main %}{% endblock %}
    </main>

    <footer class="key_bg2">
        {% include "base/_footer.html.twig" %}
    </footer>

    <script src="{{ asset('assets/js/header.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
